/* navbar.css */

/* Navbar Styles */
.navbar {
  background-color: #E96990;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  margin: 0;
}

.navbar-link {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-logout-btn {
  margin-left: 15px;
  padding: 5px 10px;
  background-color: #9E1C60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.navbar-logout-btn:hover {
  background-color: #b32d70;
}
